.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.d-flex {
    display: flex;
}

.d-flex.flex-column {
    flex-direction: column;
}

.d-flex.flex-row {
    flex-direction: row;
}

.align-items-center {
    align-items: center
}

.justify-content-center {
    justify-content: center;
}

.pt-none{
	padding-top:0
}
.pb-none{
	padding-bottom:0
}
.px-none{
	padding-left:0;
	padding-right:0
}
.py-none{
	padding-top:0;
	padding-bottom:0
}
.ma-none{
	margin:0 0
}
.ml-none{
	margin-left:0
}
.mr-none{
	margin-right:0
}
.mt-none{
	margin-top:0
}
.mb-none{
	margin-bottom:0
}
.mx-none{
	margin-left:0;
	margin-right:0
}
.my-none{
	margin-top:0;
	margin-bottom:0
}
.pa-xs{
	padding:4px 4px
}
.pl-xs{
	padding-left:4px
}
.pr-xs{
	padding-right:4px
}
.pt-xs{
	padding-top:4px
}
.pb-xs{
	padding-bottom:4px
}
.px-xs{
	padding-left:4px;
	padding-right:4px
}
.py-xs{
	padding-top:4px;
	padding-bottom:4px
}
.ma-xs{
	margin:4px 4px
}
.ml-xs{
	margin-left:4px
}
.mr-xs{
	margin-right:4px
}
.mt-xs{
	margin-top:4px
}
.mb-xs{
	margin-bottom:4px
}
.mx-xs{
	margin-left:4px;
	margin-right:4px
}
.my-xs{
	margin-top:4px;
	margin-bottom:4px
}
.pa-sm{
	padding:8px 8px
}
.pl-sm{
	padding-left:8px
}
.pr-sm{
	padding-right:8px
}
.pt-sm{
	padding-top:8px
}
.pb-sm{
	padding-bottom:8px
}
.px-sm{
	padding-left:8px;
	padding-right:8px
}
.py-sm{
	padding-top:8px;
	padding-bottom:8px
}
.ma-sm{
	margin:8px 8px
}
.ml-sm{
	margin-left:8px
}
.mr-sm{
	margin-right:8px
}
.mt-sm{
	margin-top:8px
}
.mb-sm{
	margin-bottom:8px
}
.mx-sm{
	margin-left:8px;
	margin-right:8px
}
.my-sm{
	margin-top:8px;
	margin-bottom:8px
}
.pa-md{
	padding:16px 16px
}
.pl-md{
	padding-left:16px
}
.pr-md{
	padding-right:16px
}
.pt-md{
	padding-top:16px
}
.pb-md{
	padding-bottom:16px
}
.px-md{
	padding-left:16px;
	padding-right:16px
}
.py-md{
	padding-top:16px;
	padding-bottom:16px
}
.ma-md{
	margin:16px 16px
}
.ml-md{
	margin-left:16px
}
.mr-md{
	margin-right:16px
}
.mt-md{
	margin-top:16px
}
.mb-md{
	margin-bottom:16px
}
.mx-md{
	margin-left:16px;
	margin-right:16px
}
.my-md{
	margin-top:16px;
	margin-bottom:16px
}
.pa-lg{
	padding:24px 24px
}
.pl-lg{
	padding-left:24px
}
.pr-lg{
	padding-right:24px
}
.pt-lg{
	padding-top:24px
}
.pb-lg{
	padding-bottom:24px
}
.px-lg{
	padding-left:24px;
	padding-right:24px
}
.py-lg{
	padding-top:24px;
	padding-bottom:24px
}
.ma-lg{
	margin:24px 24px
}
.ml-lg{
	margin-left:24px
}
.mr-lg{
	margin-right:24px
}
.mt-lg{
	margin-top:24px
}
.mb-lg{
	margin-bottom:24px
}
.mx-lg{
	margin-left:24px;
	margin-right:24px
}
.my-lg{
	margin-top:24px;
	margin-bottom:24px
}
.pa-xl{
	padding:48px 48px
}
.pl-xl{
	padding-left:48px
}
.pr-xl{
	padding-right:48px
}
.pt-xl{
	padding-top:48px
}
.pb-xl{
	padding-bottom:48px
}
.px-xl{
	padding-left:48px;
	padding-right:48px
}
.py-xl{
	padding-top:48px;
	padding-bottom:48px
}
.ma-xl{
	margin:48px 48px
}
.ml-xl{
	margin-left:48px
}
.mr-xl{
	margin-right:48px
}
.mt-xl{
	margin-top:48px
}
.mb-xl{
	margin-bottom:48px
}
.mx-xl{
	margin-left:48px;
	margin-right:48px
}
.my-xl{
	margin-top:48px;
	margin-bottom:48px
}
.mt-auto,.my-auto{
	margin-top:auto
}
.ml-auto{
	margin-left:auto
}
.mb-auto,.my-auto{
	margin-bottom:auto
}
.mr-auto,.mx-auto{
	margin-right:auto
}
.mx-auto{
	margin-left:auto
}

.font-size-base {
    font-size: 1rem
}

.font-size-sm {
    font-size: .925rem !important
}

.font-size-xs {
    font-size: .8rem !important
}

.font-size-lg {
    font-size: 1.08rem !important
}

.cursor-pointer {
    cursor:pointer
}

.text-center {
    text-align: center;
}

.flex-grow-0 {
    flex-grow: 0
}

.flex-grow-1 {
    flex-grow: 1
}

.w-100 {
	width: 100% !important;
}

.h-100 {
	height: 100% !important;
}
