@font-face {
    font-family: 'IRANSans';
    src: url('assets/IRANSans.woff2') format('woff2'),
        url('assets/IRANSans.woff') format('woff'),
        url('assets/IRANSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('assets/Vazir.ttf') format('woff2'),
        url('assets/Vazir.woff') format('woff'),
        url('assets/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Vazir';
    direction: rtl;
}

:root {

    --testvar: white;
    --blockColNum: 0;
    --blockRowNum: 0;
    --blockWidthPx: 0px;
    --blockHeightPx: 0px;

    --transition-dur: 200ms;
    --board-gap: 4px;

    --border-radius-1: 4px;
    --border-radius-2: 8px;

    --primary: #FF0000;
    --accent: #643CB5;

    --success: #5CB85C;
    --danger: #C9302C;

    --grey-1: #cfcfcf;
    --grey-2: #bdbdbd;
}

body {
    background-color:var(--testvar);
}

.bg-success {
    background-color: var(--success);
}
.text-success {
    color: var(--danger);
}

.bg-danger {
    background-color: var(--danger);
}
.text-success {
    color: var(--success);
}

.bg-white {
    background-color: white;
}
.text-white {
    color: white;
}

.container {
    width: fit-content;
    margin: 0px auto;
}



#puzzles-menu {
    direction: ltr;
}

#puzzles-menu .puzzle-item {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    background-size: 100% 100vh;
    box-shadow: 7px 4px 13px -4px rgba(255, 187, 145, 0.69);
    /* background-image: linear-gradient(to right bottom, #78f5c9, #68eabd, #57dfb2, #44d4a6, #2ec99b); */
    transition: all 200ms;
    background-image: linear-gradient(to left top, #ff7268, #ff8166, #ff9065, #ff9f68, #ffad6c);
}

#puzzles-menu .puzzle-item span {
    pointer-events: none;
}

#puzzles-menu .puzzle-item.selected {
    transform: scale(1.1);
    box-shadow: 5px 5px 30px 0px rgba(255, 187, 145, 0.69);
    /* box-shadow: 8px 8px 30px -7px rgba(120,245,201,0.63); */
}

#puzzles-menu #add-puzzle-btn {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    border: dashed #cfcfcf 2px;
}
#puzzles-menu #add-puzzle-btn span {
    pointer-events: none;
}
#puzzles-menu #add-puzzle-btn img {
    height: 20px;
    width: 20px;
    pointer-events: none;
}



.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: background-color 200ms;
}

.modal > div {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);
    width: auto;
    border-radius: 8px;
    background-color: #fefefe;
    padding: 20px;
}

.modal[class*='modal-md'] > div  {
    width: 500px;
}

.modal[class*='modal-sm'] > div  {
    width: 300px;
}

#win-modal span{
    color: red;
    font-size: 50px;
    font-weight: bold;
    pointer-events: none;
}

.form input {
    height: 40px;
    border-radius: var(--border-radius-2);
    border: var(--grey-2) 1px solid;
    padding: 4px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 16px;
}

.form button {
    width: auto;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: var(--border-radius-2);
    outline: none;
    border: none;
    cursor: pointer;
}


#input-col-num,
#input-row-num,
#input-block-width-px,
#input-block-height-px {
    width: 80px;
}


#board {
    display: grid;
    grid-template-columns: repeat(var(--blockColNum), var(--blockWidthPx));
    grid-template-rows: repeat(var(--blockRowNum), var(--blockHeightPx));
    gap: var(--board-gap);
    border-radius: 4px;
    direction: ltr;
    padding: 10px;
    background-color: #414050;
    margin-top: 50px;
    visibility: hidden;
}

#board .puzzle-block {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 143, 240);
    background-image: linear-gradient(to right bottom, #ffc2e7, #cd7be8);
    border-radius: 2px;
    cursor: pointer;
}

#board .puzzle-block span{
    pointer-events: none;
}

#board .puzzle-block.null {
    visibility: hidden;
}

#sample-block-layout > div {
    pointer-events: none;
}

.to-right-transition {
    transform: translate(calc(100% + var(--board-gap)), 0);
    transition: all var(--transition-dur);
}
.to-left-transition {
    transform: translate(calc(-100% - var(--board-gap)), 0);
    transition: all var(--transition-dur);
}
.to-top-transition {
    transform: translate(0, calc(-100% - var(--board-gap)));
    transition: all var(--transition-dur);
}
.to-bottom-transition {
    transform: translate(0, calc(100% + var(--board-gap)));
    transition: all var(--transition-dur);
}
